# Ignore CSV files
*.csv

# Ignore text files
*.txt
!pool/**/*.txt
stock_data.db

# Ignore VSA reports directory
vsa_reports/*.txt
!vsa_reports/.gitkeep

# Ignore JSON files
*.json

# Pyenv
.python-version
.pyenv/
*.png

.DS_Store
.idea/


**__pycache__**

*.html

